##
## This file is part of the Fishfood project.
##
## Copyright (C) 2023 casatar.
##
## Imported from https://github.com/casartar/fishfood by atanisoft.

ACTION=="add", ENV{ID_VENDOR_ID}=="cafe", ENV{ID_MODEL_ID}=="aa68", SYMLINK+="starfish", MODE="660", GROUP="usb"
ACTION=="add", ENV{ID_VENDOR_ID}=="cafe", ENV{ID_MODEL_ID}=="aa69", SYMLINK+="jellyfish", MODE="660", GROUP="usb"